@font-face {
    font-family: 'Montserrat-Medium.ttf';
    src: url('../font/Montserrat/static/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('../font/Montserrat/static/Montserrat-Black.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../font/Montserrat/static/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('../font/Montserrat/static/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('../font/Montserrat/static/Montserrat-ExtraLight.ttf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../font/Montserrat/static/Montserrat-Regular.ttf');
}

